.container {
  width: 639.002px;
  height: 70.002px;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: rgba(214, 238, 226, 0.5);
}
